= render partial: 'layouts/errors'
%table.form
  %thead
  %tbody
    - if @license.id && current_user_admin?
      %tr
        %th License ID:
        %td.top= @license.id
    %tr
      %th Appliance ID: *
      %td.top= text_field :license, :appliance_id, value: @license.appliance_id, required: true, title: "Please enter a valid Appliance ID", oninvalid: "setCustomValidityOverride(this)", oninput: "setCustomValidityOverride(this)", class: "required"
    - if current_user_admin?
      %tr
        %th BioPortal Username: *
        %td.top= text_field :license, :bp_username, value: @license.bp_username, required: true, title: "Please enter the user's BioPortal Username", oninvalid: "setCustomValidityOverride(this)", oninput: "setCustomValidityOverride(this)", class: "required"
    %tr
      %th First Name: *
      %td.top= text_field :license, :first_name, value: @license.first_name, required: true, title: "Please enter your first name", oninvalid: "setCustomValidityOverride(this)", oninput: "setCustomValidityOverride(this)", class: "required"
    %tr
      %th Last Name: *
      %td.top= text_field :license, :last_name, value: @license.last_name, required: true, title: "Please enter your last name", oninvalid: "setCustomValidityOverride(this)", oninput: "setCustomValidityOverride(this)", class: "required"
    %tr
      %th Organization: *
      %td.top= text_field :license, :organization, value: @license.organization, required: true, title: "Please enter the name of your organization or company", oninvalid: "setCustomValidityOverride(this)", oninput: "setCustomValidityOverride(this)", class: "required"
    %tr
      %th Project Purpose: *
      %td= select :license, :license_purpose_id, @license_purposes.map {|lic| [lic.name, lic.id]}, {include_blank: 'Please Select:'}, required: true, title: "Please select your purpose from the list", oninvalid: "setCustomValidityOverride(this)", oninput: "setCustomValidityOverride(this)", class: "required"
    - if current_user_admin?
      %tr
        %th Approval Status: *
        %td= select :license, :approval_status, License.approval_statuses.map {|k, v| [v.humanize, k]}, {include_blank: 'Please Select:'}, required: true, title: "Please select the approval status", oninvalid: "setCustomValidityOverride(this)", oninput: "setCustomValidityOverride(this)", class: "required"
    %tr
      %th Project Information: *
      %td= text_area :license, :project_info, value: @license.project_info, rows: 6, required: true, title: "Please include some information about your project", oninvalid: "setCustomValidityOverride(this)", oninput: "setCustomValidityOverride(this)", class: "required"
    %tr
      %th Reason for Needing Appliance: *
      %td= text_area :license, :reason, value: @license.reason, rows: 6, required: true, title: "Please describe your reason for needing an appliance", oninvalid: "setCustomValidityOverride(this)", oninput: "setCustomValidityOverride(this)", class: "required"
    - if current_user_admin?
      %tr
        %th Identification:
        %td= text_area :license, :identification, value: @license.identification, rows: 6
      %tr
        %th Comments:
        %td= text_area :license, :comments, value: @license.comments, rows: 6
    %tr
      %td{colspan: "2", align: "right"}
        = f.submit "Cancel", name: 'cancel', id: 'cancel', formnovalidate: 'formnovalidate', class: "button button-blue"
        = f.submit "#{action} License", name: 'update', id: 'update', class: "button button-blue"
