- @title = "Licenses"


%h1.tab_header Licenses
.licenses_list_container
  %p.tab_description
    Below is a list of your current appliance licenses

  %span
    = button_to "Create New License", new_license_path, :method => :get
  %br/
  %table#licenses.zebra{:cellpadding => "0", :cellspacing => "0", "data-turbolinks" => "false"}
    %thead
      %tr
        %th ID
        %th Appliance ID
        - if current_user_admin?
          %th OP Username
          %th Name
        %th Organization
        %th Project Info
        %th Reason
        %th Purpose
        %th License Key
        %th Created
        %th Expires
        %th Status
        %th Actions
    %tbody
      - for license in @licenses
        %tr
          %td
            = license.id
          %td
            %strong= link_to(license.appliance_id[0..7], license_path(license.id))
            %br/
            %span{:style => "font-size:75%; vertical-align:bottom;"}
              - if current_user_admin?
                = link_to("Edit", edit_license_path(license.id))
                &nbsp;&nbsp;
                = link_to("Delete", license_path(license.id), :method => :delete, :confirm => "Are you sure?")
          - if current_user_admin?
            %td
              = license.bp_username
            %td
              = "#{license.first_name} #{license.last_name}"
          %td
            = license.organization
          %td
            = license.project_info
          %td
            = license.reason
          %td
            = license.license_purpose.name
          %td
            = license.license_key
          %td
            = license.created_at
          %td
            = license.valid_date
          %td
            = license.approval_status.humanize
          %td
            = button_to "Renew", renew_license_path(license.id), :method => :post
            - if current_user_admin?
              = button_to "Approve", approve_license_path(license.id), :method => :post
              = button_to "Disapprove", disapprove_license_path(license.id), :method => :post
