- @title = "Licenses"
%h1 Licenses
- if flash[:success]
  %div#success_message{class: "alert-box success"}
    = flash[:success]
%p Below is a list of your current OntoPortal Appliance licenses:
= button_to "Create License for New Appliance", new_license_path, method: :get, class: "button button-blue"
%table#licenses{"data-turbolinks" => "false", class: "table table-striped table-bordered detail", style: "width:100%"}
  %thead
    %tr
      - if current_user_admin?
        %th ID
        %th Username
        %th Name
      %th Appliance ID
      %th Organization
      %th Project Info
      %th Reason
      %th Purpose
      %th License Key?
      %th Created
      %th Expires After
      %th Status
      %th.no-sort Actions
  %tbody
    - for license in @licenses
      %tr
        - if current_user_admin?
          %td
            = license.id
          %td
            = license.bp_username
          %td
            = "#{license.first_name} #{license.last_name}"
        %td
          %strong= link_to(license.appliance_id[0..7], license_path(license.id))
          %br
          %span{:style => "font-size:75%; vertical-align:bottom;"}
            - if current_user_admin? || license.approval_status === License.approval_statuses[:pending]
              = link_to("Edit", edit_license_path(license.id))
            - if current_user_admin?
              &nbsp;&nbsp;
              = link_to "Delete", license_path(license.id), method: :delete, data: { confirm: "Are you sure you want to completely destroy the license with ID: #{license.id}?" }
        %td
          = license.organization
        %td
          = license.project_info
        %td
          = license.reason
        %td
          = license.license_purpose.name
        %td
          - if license.license_key
            = link_to("Show", license_path(license.id))
          - else
            Not&nbsp;generated
        %td
          = license.created_at.strftime("%m/%d/%Y\n%I:%M %p")
        %td
          = license.valid_date? ? license.valid_date.strftime('%m/%d/%Y') : ''
        %td
          - if !current_user_admin? && license.approval_status === License.approval_statuses[:disapproved]
            :plain
              Please email us at <a href='mailto:#{$SUPPORT_EMAIL}'>#{$SUPPORT_EMAIL}</a> for further instructions on getting your license key.
          - else
            = license.approval_status.humanize
            - if license.expired?
              %span.error-msg (Expired)
        %td
          - if license.latest && license.approval_status === License.approval_statuses[:approved]
            = button_to "    Renew   ", renew_license_path(license.id), method: :post, class: "button button-blue"
          - if current_user_admin?
            = button_to "  Approve   ", approve_license_path(license.id), method: :post, class: "button button-green", data: { confirm: "Are you sure you want to approve the license with ID: #{license.id}, generate the licence key and notify the user?" }
            = button_to "Disapprove ", disapprove_license_path(license.id), method: :post, class: "button button-red", data: { confirm: "Are you sure you want to disapprove the license with ID: #{license.id}?" }
