- @title = "Licenses"

%h1.tab_header Licenses
%p.tab_description
  Below is a list of your current appliance licenses

%div{:style => "padding:10px;"}
  %span
    - if session[:user].nil?
      = button_to "Create New License", "/login", :method => :get
    - else
      = button_to "Create New License", new_license_path, :method => :get
  %br/
  %br/
  %table#licenses.zebra{:cellpadding => "0", :cellspacing => "0"}
    %thead
      %tr
        %th Appliance ID
        - if current_user_admin?
          %th OP Username
          %th Name
        %th Project Info
        %th Reason
        %th License Key
        %th Expires
        %th Status
      - if current_user_admin?
        %th Actions
    %tbody
      - for license in @licenses
        %tr
          %td
            %strong= link_to(license.appliance_id, license_path(license.id))
            %br/
            %span{:style => "font-size:75%; vertical-align:bottom;"}
              - if current_user_admin?
                = link_to("Edit", edit_license_path(license.id))
                &nbsp;&nbsp;
                = link_to("Delete (admin only)", license_path(license.id), :method => :delete, :confirm => "Are you sure?")
          %td
            = license.project_info
          %td
            = license.reason
          %td
            = license.license_key
          %td
            = license.valid_date
          %td
            = license.approval_status.humanize
        - if current_user_admin?
          %td Actions
