<%= form_for(:user, :url => {:controller => 'login', :action=>'create'}) do |f| %>
  <%unless @errors.nil?%>
    <div style="color:red;">
      Errors On Form
      <ul>
        <%for error in @errors%>
          <li><%=error%></li>
        <%end%>
      </ul>
    </div>
  <%end%>
  <table class="form" style="margin-top:30px;margin-bottom:30px;border-spacing: 15px;border-collapse: separate;">
    <tr>
      <th nowrap align="right" >Username:</th>
      <td class="top"><%= text_field 'user', 'username', :size => 25 %></td>
    </tr>
    <tr>
      <th nowrap align="right" >Password:</th>
      <td><%= password_field 'user','password', :size => 25, :autocomplete => "off" %></td>
    </tr>
    <tr>
      <td colspan="2" align="right"><%= submit_tag "Login"%></td>
    </tr>
  </table>
  <p>Not Registered Yet? <%= link_to "Sign Up", "#{$BP_UI_URL}/accounts/new", target: "_blank" %></p>
<% end %>