= render partial: 'layouts/errors'
= form_for :user, url: {controller: "login", action: "create"}, html: {method: :post, id: "login_form", class: "main-form"} do |f|
  %table.form{style: "margin-top:30px;margin-bottom:30px;"}
    %thead
    %tbody
      %tr
        %th Username:
        %td= text_field 'user', 'username', value: params[:user] ? params[:user][:username] : '', size: 25
      %tr
        %th Password:
        %td= password_field 'user', 'password', size: 25, autocomplete: "off"
      %tr
        %td{colspan: "2", align: "right"}= submit_tag "Login", class: "button button-blue"
  %p
    Not Registered Yet?
    = link_to "Sign Up Now!", "#{$BP_UI_URL}/accounts/new", target: "_blank"
