<p>Dear <%= @license.first_name %>,</p>
<p>Your license request for Appliance ID: <%= @license.appliance_id %> remains pending. This is often caused by an incomplete application, the project information lacking important detail, or licensing requirements for commercial use.</p>
<p>You should receive a separate email directly from our reviewer describing what is needed for your application. If you haven't received this email within a few hours, please contact us at <a href="mailto:<%= $SUPPORT_EMAIL %>"><%= $SUPPORT_EMAIL %></a>. When writing to us, please reference the License Application ID: <%= @license.id %> and the Appliance ID: <%= @license.appliance_id %>.</p>
<p>We look forward to getting your application approved.</p>
<p>Sincerely,</p>
<p>The OntoPortal Team</p>