- unless @errors.nil?
  .enable-lists{style: "color:red;"}
    %strong Errors On Form
    %ul
      - if @errors[:error].instance_of? OpenStruct
        - errors_hash = @errors[:error].to_h.except :links, :context
        - errors_hash.each do |field, error|
          -# Highlight fields with errors.
          - fld_names = field.to_s.split("_", 2)
          <style>##{fld_names[0]}_#{fld_names[1]} { border: thin solid red; }</style>
          %li
            -# Display error message to users.
            - if error.instance_of? OpenStruct
              - error_hash = error.to_h.except :links, :context
              - error_hash.each do |f, e|
                = "#{e}"
            - else
              = field
      - else
        = @errors.to_json
